body { background: #2f1678; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 24px; display: flex; }
.block-config-0 { color: #bbf905; font-size: 12px; margin-bottom: 5px; }
.block-helper-1 { color: #c83944; font-size: 21px; margin-bottom: 5px; }
.block-user-2 { color: #f57549; font-size: 17px; margin-bottom: 5px; }
.block-product-3 { color: #8c9adf; font-size: 19px; margin-bottom: 5px; }
.block-database-4 { color: #b16a8b; font-size: 16px; margin-bottom: 5px; }